<form class="data-form" action="/administrator/database/stored" method="POST">
    <h1>Thêm sản phẩm vào Database</h1>
    <div class="field">
        <label for="shortname" class="form-label">Mã sản phẩm: </label>
        <input type="text" class="form-control" id="shortname" name="shortname">
    </div>
    <div class="field">
        <label for="name" class="form-label">Tên sản phẩm: </label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="field">
        <label for="formula" class="form-label">Công thức hóa học: </label>
        <input type="text" class="form-control" id="formula" name="formula">
    </div>
    <div class="field array-input-field">
        <label for="using" class="form-label">Ứng dụng: </label>
        <textarea class="form-control" id="using" name="using" rows="5"></textarea>
    </div>
    <div class="field">
        <label for="origin" class="form-label">Xuất xứ: </label>
        <input type="text" class="form-control" id="origin" name="origin">
    </div>
    <div class="field">
        <label for="pack" class="form-label">Đóng gói: </label>
        <input type="text" class="form-control" id="pack" name="pack">
    </div>
    <div class="field array-input-field">
        <label for="description" class="form-label">Tính chất: </label>
        <textarea class="form-control" id="description" name="description" rows="5"></textarea>
    </div>
    <div class="field array-input-field">
        <label for="preserve" class="form-label">Bảo quản: </label>
        <textarea class="form-control" id="preserve" name="preserve" rows="5"></textarea>
    </div>
    <button type="submit" class="create-button field">Thêm</button>
</form>