$white-color: #fcfcfc;
$white-color-hover: rgba(#fcfcfc,0.5);
$background-color: #fcfcfc;
$text-color: #343434;
$black-color: #000;
$green-logo-color: #458a2e;
$blue-logo-color: #00b7ee;
$blue-color: #00cbcb;
$footer-color: #2a2a2a;
$footer-copyright-color: #393939;
