// Import common variables
@import 'variables';

// Basic SCSS begin
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $blue-color;
    align-items: center;
    margin: 0 auto;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
// Basic SCSS end here

#content {
    margin: 12px 8px;
    position: relative;
}

// Header SCSS begin
#header {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-name {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}

.logo-name img {
    margin: 20px 20px;
    padding: 20px 0;
}

.logo-name h1 {
    font-size: 40px;
    line-height: 80px;
}

.header-navbar {
    margin: 12px auto;
    width: 90%;
}

.header-navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #fff;
    padding: 8px 8px;
    border: 2px solid #000;
    border-radius: 12px;
}

.header-navbar-list li{
    text-decoration: none;
    margin: 8px 12px;
}

.header-navbar-list li a{
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
// Header SCSS end here

// Content SCSS begin

// Content SCSS end here

// Footer SCSS begin

// Footer SCSS end here



// Database ADMIN begin
#database {
    display: flex;
    font-size: 1.8rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#database ul li {
    margin-top: 4px;
}

#database .table-list-product {
    flex-grow: 1;
}

#database table {
    background-color: #f8f8f8;
    border-collapse: collapse;
}
  
th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.data-options a{
    margin: 0 12px;
}
// Database ADMIN end here

// Data Field SCSS begin
.data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-form h1 {
    margin: 8px auto;
}

.data-form .field {
    display: flex;
    font-size: 1.8rem;
    min-width: 50%;
    margin: 4px auto;
}

.data-form .form-label {
    min-width: 160px;
}

.data-form .form-control {
    flex-grow: 1;
}

.data-form .create-button {
    justify-content: center;
    line-height: 40px;
    height: 40px;
    background-color: blue;
}

.data-form .create-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
// Data Field SCSS end here 

// Confirm delete begin
.confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.confirm-delete button {
    min-width: 200px;
    padding: 20px 20px;
}

.confirm-delete button:hover {
    cursor: pointer;
}
// Confirm delete end here
