// Import common variables
@import 'variables';

// Basic SCSS begin
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    background-color: $background-color;
    align-items: center;
    margin: 0 auto;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    height: 100%;
}
// Basic SCSS end here

// Header SCSS begin
#header {
    min-width: 100%;
    height: 86px;
    min-height: 86px;
    background-color: $white-color;
    border-radius: 0px 0px 0px 0px;
    border: solid rgba(193,193,193,1);
    border-width: 0px 0px 1px 0px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

#header .header-logo {
    margin: 19px 46px;
}

#header .navbar-list {
    display: flex;
    list-style: none;
    font-size: 16px;
    margin-right: 16px;
}

#header .navbar-list li {
    font-weight: 500;
    padding: 0 32px;
    margin: 19px auto;
    list-style: none;
}

#header .navbar-list li a{
    text-decoration: none;
    color: $text-color;
}
// Header SCSS end here

// Content SCSS begin
#content {
    position: relative;
    top: 86px;
    min-height: calc(100vh - 246px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-icons {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}

.services-homepage {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
}

.services-homepage i {
    margin: 16px auto;
    font-size: 80px;
}

.services-homepage span {
    color: $black-color;
    max-width: 152px;
    font-size: 1.6rem;
}

.cpn-name {
    font-style: italic;
    font-weight: 700;
    color: $green-logo-color;
}
// Illustration image start here
.services-text {
    font-style: italic;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    border: 2px solid white; 
    border-radius: 5px;
}

.illustration-img-contacts {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 320px;
    background: url('contacts.jpg') no-repeat right top;
}

.illustration-img-contacts::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.illustration-img-homepage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 320px;
    background: url('homepage.jpg') no-repeat right top;
}

.illustration-img-homepage::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.illustration-img-products {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 320px;
    background: url('products.jpg') no-repeat right top;
}

.illustration-img-products::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.illustration-img-services {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 320px;
    background: url('services.jpg') no-repeat right top;
}

.illustration-img-services::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
// Illustration image end here
#content .main-content {
    margin-top: 320px;
    width: 80%;
}

.content-section {
    margin: 80px auto;
}

.content-section .content-header{
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

.content-section .content-slogan {
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
}

.content-section .content-section-body {
    margin: 72px auto;
    display: flex;
    align-items: flex-start;
}

.content-section .content-section-body img {
    border-radius: 5px;
    max-width: 100%;
}

.content-section .content-section-body .content-information {
    margin: 16px auto;
    text-align: justify;
    font-size: 1.6rem;
    position: relative;
}

.cpn-overview {
    min-height: 330px;
}

.homepage-row {
    display: flex;
    flex-direction: column;
}

.button-redirect {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 36px;
    border-radius: 20px;
    padding: 8px 20px;
    text-decoration: none;
    background-color: $blue-logo-color;
    color: $text-color;
}

.submit-button {
    border: 1px solid;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 8px;
    background-color: $blue-logo-color;
}
/* Container for the product cards */
.show-products {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: s;
}

.product-card {
    width: calc(25% - 10px);
    margin: 0 5px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.product-card-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    flex-grow: 1;
}

.detail-button {
    font-weight: 500;
    display: block;
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.product-detail {
    padding: 20px auto;
    display: flex;
}

#contact-page .heading-contacts{
    margin: 40px auto;
    text-align: center;
    font-size: 28px;
}

#contact-page i {
    margin: 0 8px;
}

#contact-page .contact-content p {
    font-size: 16px;
    margin: 30px auto;
}

#contact-page span {
    font-size: 12px;
}

#contact-page .contact-content {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

.col2 {
    width: 45%;
}

#contact-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#contact-form label {
    font-size: 16px;
    font-weight: 400;
}

#contact-form input {
    line-height: 24px;
}

// Product detail begin
.product-detail {
    margin: 80px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.product-info-field {
    color: $green-logo-color;
}

.product-detail img {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 24px 24px;
}

.product-detail .product-info-table {
    min-height: 100%;
    margin: 24px 24px;
}

.product-detail .product-info-table .product-info {
    font-weight: 500;
    font-style: normal;
    color: $black-color;
}
// Product detail end here
// Content SCSS end here

// Footer SCSS begin
#footer {
    position: relative;
    bottom: -86px;
    left: 0;
    background-color: $black-color;
    color: $white-color;
    width: 100%;
    height: 200px;
}

#footer .footer-content {
    height: 168px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    align-items: center;
}

#footer .footer-content .footer-companyname img {
    padding: 4px 8px;
}

#footer .footer-content .footer-companyname span {
    font-size: 1.6rem;
}

#footer .footer-content .footer-information li{
    padding: 4px 0;
    font-size: 1.4rem;
}

#footer ul {
    padding-left: 0;
}

#footer li{
    list-style: none;
}

#footer i{
    padding: 0 8px;
}

#footer .footer-information li a{
    color: #fff;
}

#footer .footer-content .footer-connects span {
    padding: 20px 8px;
    font-size: 1.6rem;
}

#footer .footer-content .footer-connects li {
    padding: 4px 8px;
}
#footer .footer-copyright {
    height: 32px;
    background-color: $footer-copyright-color;
    font-size: 12px;
    text-align: center;
}

#footer .footer-copyright span {
    line-height: 32px;
}

#footer .footer-copyright span a {
    color: $white-color;
    text-decoration: none;
}

#footer .footer-copyright span a:hover {
    color: $white-color-hover;
}
// Footer SCSS end here



// Database ADMIN begin
#database {
    display: flex;
    font-size: 1.8rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#database ul li {
    margin-top: 4px;
}

#database .table-list-product {
    flex-grow: 1;
}

#database table {
    background-color: #f8f8f8;
    border-collapse: collapse;
}
  
th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.data-options a{
    margin: 0 12px;
}
// Database ADMIN end here

// Data Field SCSS begin
.data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-form h1 {
    margin: 8px auto;
}

.data-form .field {
    display: flex;
    font-size: 1.8rem;
    min-width: 50%;
    margin: 4px auto;
}

.data-form .form-label {
    min-width: 160px;
}

.data-form .form-control {
    flex-grow: 1;
}

.data-form .create-button {
    justify-content: center;
    line-height: 40px;
    height: 40px;
    background-color: blue;
}

.data-form .create-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
// Data Field SCSS end here 

// Confirm delete begin
.confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.confirm-delete button {
    min-width: 200px;
    padding: 20px 20px;
}

.confirm-delete button:hover {
    cursor: pointer;
}
// Confirm delete end here


// Reponsive web begin
#header {
    max-width: 100vw;
}
.menu-btn-navbar {
    float: right;
    line-height: 86px;
    padding: 0 32px;  
    display: none;
    padding-top: 8px;
    box-sizing: border-box;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .services-text {
        font-size: 32px;
    }

    .menu-btn-navbar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-btn-navbar i { 
        font-size: 32px;
    }

    #header .navbar-list {
        display: none;
        text-align: right;
        position: absolute;
        top: 86px;
        margin-right: 0;
        right: 0;
    }

    #header .navbar-list li a {
        padding: 20px 20px;
    }

    #header .navbar-list li {
        border: 1px solid #ccc;
        margin: 0;
        background-color: $white-color;
    }
    .reponsive-homepage-imgl {
        max-width: 100%;
    }

    .product-card {
        width: calc(50% - 10px);
    }
}
/* Mobile */
@media (max-width: 739px) {
    .services-text {
        font-size: 18px;
    }

    .menu-btn-navbar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-btn-navbar i { 
        font-size: 32px;
    }

    #header .navbar-list {
        display: none;
        text-align: right;
        position: absolute;
        top: 86px;
        margin-right: 0;
        right: 0;
    }

    #header .navbar-list li a {
        padding: 20px 20px;
    }

    #header .navbar-list li {
        border: 1px solid #ccc;
        margin: 0;
        background-color: $white-color;
    }
    .reponsive-homepage-imgl {
        max-width: 100%;
    }

    .homepage-overview .content-section-body img {
        display: none;
    }

    .col2 {
        width: 100%;
    }

    #contact-page .contact-content {
        flex-direction: column;
    }

    .services-img {
        display: none;
    }

    .product-card {
        width: calc(100% - 10px);
    }

    .product-detail {
        max-width: 100%;
        display: block;
    }

    .product-detail img {
        margin: auto;
        max-width: 100%;
    }
    
    #footer {
        height: auto;
    }
    #footer .footer-content {
        display: block;
        height: auto;
    }

    #footer .footer-content .footer-information ,
    #footer .footer-content .footer-connects {
        display: inline-block;
        padding: 16px;
    }

    #footer .footer-copyright {
        font-size: 10px;
    }
    
    .service-icons {
        flex-direction: column;
        align-items: center;
    }
    .service-icons {
        text-align: justify;
        margin: auto;
    }
}
// Reponsive web end here