<div class="footer-content">
    <div class="footer-company-contacts">
        <div class="footer-companyname">
            <img src="khaivan-logo.png" alt="logo">
            <span>Công ty TNHH TM - KT Khải Vân</span>
        </div>
        <ul class="footer-contacts">
            <li><i class="fa-solid fa-map-location-dot" style="color: #fff;"></i>Địa chỉ: B15/325 Đường kênh C, xã Tân Nhựt, huyện Bình Chánh, TP. Hồ Chí Minh, Việt Nam</li>
            <li><i class="fa-solid fa-phone" style="color: #fff;"></i>Điện thoại: 0328 058 573 – 0914 416 3056</li>
            <li><i class="fa-solid fa-envelope" style="color: #fff;"></i>Email: khaivann2002@gmail.com</li>
            <li><i class="fa-solid fa-comment" style="color: #fff;"></i>Zalo: 0328058573</li>
        </ul>
    </div>
    <div class="footer-information">
        <ul>
            <li><a href="">Điều khoản sử dụng</a></li>
            <li><a href="">Tuyển dụng</a></li>
            <li><a href="/about-us">Về chúng tôi</a></li>
            <li><a href="/contacts">Thông tin liên hệ</a></li>
        </ul>
    </div>
    <div class="footer-connects">
        <span>Kết nối với chúng tôi</span>
        <ul>
            <li><i class="fa-brands fa-facebook" style="color: #ffffff;"></i>Facebook</li>
            <li><i class="fa-solid fa-comment" style="color: #fff;"></i>Zalo</li>
            <li><i class="fa-brands fa-youtube" style="color: #ffffff;"></i>Youtube</li>
        </ul>
    </div>
</div>
<div class="footer-copyright">
    <span>Copyright © 2023 <a href="/home">Công ty TNHH TM - KT Khải Vân</a>. All Rights Reserved.</span>
</div>