<div class="logo-name header-item">
  <img src="/img/khaivan-logo.png" alt="logo">
  <h1>Công ty TNHH TM-KT Khải Vân</h1>
</div>
<div class="header-navbar header-item">
  <ul class="header-navbar-list">
    <li><a href="/home"><i class="fa-solid fa-house"></i></a></li>
    <li><a href="/services">Dịch vụ</a></li>
    <li><a href="/products">Sản phẩm</a></li>
    <li><a href="/contacts">Liên hệ</a></li>
    <li><a href="/about">Về chúng tôi</a></li>
  </ul>
</div>