<img class="header-logo" src="/khaivan-logo.png" alt="Khải Vân logo">
<div class="header-navbar">
  <ul class="navbar-list">
    <li><a href="/home" title="Trang chủ" >TRANG CHỦ</a></li>
    <li><a href="/products" title="Sản phẩm">SẢN PHẨM</a></li>
    <li><a href="/services" title="Dịch vụ">DỊCH VỤ</a></li>
    <li><a href="/contacts" title="Liên hệ">LIÊN HỆ</a></li>
    <li><a href="/about-us" title="Về chúng tôi">VỀ CHÚNG TÔI</a></li>
  </ul>
</div>