<div class="illustration-img-homepage"><span class="services-text">VỀ CHÚNG TÔI</span></div>
<div class="main-content">
    <div class="content-section">
        <h1 class="content-header">LỜI CẢM ƠN</h1>
        <div class="content-section-body">
            <p class="content-information">
                <span class="cpn-name">Công ty TNHH TM – KT KHẢI VÂN</span> trân trọng
                gửi đến Quý Doanh nghiệp lời chúc “Sức Khỏe - Thành Đạt - Hạnh Phúc” và lời cảm ơn chân
                thành vì sự tin tưởng và hợp tác trong suốt thời gian vừa qua cũng như trong thời gian tới. 
                <br><br>Ngày nay, môi trường là nền tảng của sự phát triển bền vững đối với một Quốc gia nói chung
                và mỗi doanh nghiệp nói riêng.
                <br><br>Thế nhưng, trong quá trình hoạt động Doanh nghiệp đã phát sinh ra các chất thải ảnh hưởng
                xấu đến môi trường. Để đảm bảo việc kiểm soát các công tác bảo vệ môi trường, Nhà Nước đã ban
                hành các Văn bản Quy định cụ thể, điều này giúp cho Doanh nghiệp hạn chế được một phần ô nhiễm môi trường, nhưng cũng là
                khó khăn khi có vô số các Quy định ban hành.
                <br><br>Trước thực tế trên, <span class="cpn-name">Công ty TNHH TM – KT KHẢI VÂN</span> ra đời với hy vọng cùng chia sẻ, cùng
                chung tay với Doanh nghiệp giải quyết các vấn đề trong công tác bảo vệ môi trường, góp phần nhỏ
                trong việc nâng cao hình ảnh, uy tín của Doanh nghiệp.
                <br><br>Cùng sự cộng tác, tư vấn của các Kĩ sư có kinh nghiệm trong lĩnh vực môi trường trong và ngoài nước, năng lực
                quản lý chuyên nghiệp, giàu kinh nghiệm về môi trường và đội ngũ nhân viên năng nổ, nhiệt huyết,
                thân thiện. Với phương châm “Chất Lượng - Hiệu Quả - Phát Triển Bền Vững” KHẢI VÂN
                không ngừng phấn đấu và nổ lực để luôn là một trong những đơn vị uy tín trong lĩnh vực môi
                trường kĩ thuật . Vì sự hài lòng của khách hàng chính
                là động lực lớn nhất để KHẢI VÂN vững bước phát triển.
                <br><br>Một lần nữa, Công ty TNHH TM-KT KHẢI VÂN xin chân thành cảm ơn Quý Doanh nghiệp đã
                tín nhiệm và lựa chọn những dịch vụ của chúng tôi. Hy vọng, KHẢI VÂN sẽ đóng góp một phần
                nhỏ vào sự thành công của Quý Khách hàng.
            </p>
            <img class="content-img" src="" alt="">
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-header">THƯƠNG MẠI KĨ THUẬT KHẢI VÂN</h1>
        <h2 class="content-slogan">“CHẤT LƯỢNG - NIỀM TIN - ĐẠO ĐỨC”</h2>
        <div class="content-section-body">
            <p class="content-information"><span class="cpn-name"></span><span class="cpn-name">KHẢI VÂN</span> là đơn vị hoạt động chuyên môn trong lĩnh vực về kĩ thuật môi trường ,thương mại với các dịch vụ:
                <br><br>Tư vấn các công trình xử lý nước thải, nước cấp, khí thải, xử lý chất thải,... tự tin rằng có thể giúp doanh nghiệp biến 
                môi trường thành một trong những ưu
                thế để sản xuất, đồng thời nâng cao giá trị của doanh nghiệp với cộng đồng và xã hội.
                <br><br>Trong thời gian qua, bằng sự chuyên nghiệp, <span class="cpn-name">KHẢI VÂN</span> đã tạo dựng được một
                hệ thống khách hàng thân thiết trải dài từ TP HCM cho đến các tỉnh Miền tây. <span class="cpn-name">Công ty TNHH TM – KT KHẢI VÂN</span> đã, đang và sẽ không ngừng cung cấp những dịch vụ, công
                trình chất lượng cao nhằm mang đến sự hài lòng cao nhất cho Quz khách hàng và đối tác.
                <br><br>Với mong muốn phát triển và quảng bá thương hiệu <span class="cpn-name">KHẢI VÂN</span>, tất cả công nhân viên Công
                ty cùng bắt tay nhau học tập, làm việc và luôn nổ lực để đáp ứng tốt nhất nhu cầu của khách hàng.
                Chúng tôi đang tìm kiếm và mong ước được kết nối thêm thật nhiều khách hàng, đối tác cùng
                đồng hành trên con đường kiến tạo môi trường an toàn cho cộng đồng.
                <br><br>Hãy chung tay với chúng tôi để cuộc sống thêm tươi đẹp!</p>
            <img class="content-img" src="" alt="">
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-header">TẦM NHÌN VÀ SỨ MỆNH</h1>
        <div class="content-section-body homepage-row">
            <h2 class="content-slogan cpn-name">TẦM NHÌN CỦA CHÚNG TÔI</h2>
            <p class="content-information">
                “Định hướng phát triển thành một đơn vị dẫn đầu trong lĩnh vực xử lí nước thải là
                thương hiệu đầu tiên được Khách hàng tin tưởng, lựa chọn khi sử dụng các dịch vụ về xử lí kĩ thuật
                nước thải môi trường.”
            </p>
            <h2 class="content-slogan cpn-name">SỨ MỆNH CỦA CHÚNG TÔI</h2>
            <p class="content-information">
                ➢ Đối với khách hàng: luôn đặt lợi ích và mong muốn của khách hàng lên hàng đầu, cam kết
                mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất
                <br><br>➢ Đối với đối tác: Xây dựng mối quan hệ tin cậy, uy tín, hợp tác cùng phát triển bền vững
                <br><br>➢ Đối với nhân viên: Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo để
                mỗi cá nhân có thể phát huy hết khả năng của mình
                <br><br>➢ Đối với cộng đồng: hướng đến sự phát triển bền vững gắn liền với lợi ích của cộng đồng.
                Chung tay xây dựng và nổ lực tham gia các hoạt động hướng đến mục tiêu: <span class="content-slogan">“Vì một môi trường sống trong lành cho cộng đồng”</span>
            </p>
            <img class="content-img" src="" alt="">
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-header">LĨNH VỰC HOẠT ĐỘNG</h1>
        <div class="content-section-body">
            <p class="content-information">
                ➢ Tư vấn các công trình xử lý nước thải, nước cấp, khí thải, xử lý chất thải,... 
                <br><br>➢ Cung cấp các sản phẩm xử lý nước thải, nước cấp, khí thải, xử lý chất thải, hạt nhựa PP-PE, chỉ may bao.
            </p>
            <img class="content-img" src="" alt="">
        </div>
    </div>
    <script>
        document.title = 'Thông tin - Công ty TNHH TM - KT Khải Vân'
    </script>
</div>