<div class="illustration-img-homepage"><span class="services-text">VỀ CHÚNG TÔI</span></div>
<div class="main-content">
    <div class="homepage-overview content-section">
        <h1 class="content-header">THƯƠNG MẠI KĨ THUẬT KHẢI VÂN</h1>
        <h2 class="content-slogan">“CHẤT LƯỢNG - NIỀM TIN - ĐẠO ĐỨC”</h2>
        <div class="content-section-body">
            <p class="content-information">KHẢI VÂN là đơn vị hoạt động chuyên môn trong lĩnh vực về môi trường kĩ thuật, thương mại với các dịch vụ:
            Tư vấn các công trình xử lý nước thải, nước cấp, khí thải, xử lý chất thải,... tự tin rằng có thể giúp doanh nghiệp biến môi trường thành một trong những ưu thế để sản xuất. Đồng thời, nâng cao giá trị của doanh nghiệp với cộng đồng và xã hội.
            Trong thời gian qua, bằng sự chuyên nghiệp, KHẢI VÂN đã tạo dựng được một hệ thống khách hàng thân thiết trải dài từ TP HCM cho đến các tỉnh Miền tây. Công ty TNHH TM - KT Khải Vân đã, đang và sẽ không ngừng cung cấp những dịch vụ, công trình chất lượng cao nhằm mang đến sự hài lòng cao nhất cho quý khách hàng và đối tác. Với mong muốn phát triển và quảng bá thương hiệu KHẢI VÂN, tất cả công nhân viên Công ty cùng bắt tay nhau học tập, làm việc và luôn nổ lực để đáp ứng tốt nhất nhu cầu của khách hàng.
            Chúng tôi đang tìm kiếm và mong ước được kết nối thêm thật nhiều khách hàng, đối tác cùng đồng hành trên con đường kiến tạo môi trường an toàn cho cộng đồng
            </p>
            <img class="content-img" src="" alt="">
        </div>
    </div>
</div>