<div class="illustration-img-contacts"><span class="services-text">LIÊN HỆ</span></div>
<div class="main-content">
  <div id="contact-page">
    <h2 class="heading-contacts">THÔNG TIN LIÊN HỆ</h2>
    <div class="contact-content">
        <div class="contact-info col2">
            <p><i class="fa-solid fa-map-location-dot" style="color: #000;"></i>B15/325 Đường kênh C, xã Tân Nhựt, huyện Bình Chánh, TP. Hồ Chí Minh, Việt Nam</p>
            <p><i class="fa-solid fa-phone" style="color: #000000;"></i>Điện thoại: 0328 058 573 – 0914 416 3056</p>
            <p><i class="fa-solid fa-envelope" style="color: #000000;"></i>Email: khaivann2002@gmail.com</p>
            <p><i class="fa-solid fa-comment" style="color: #000000;"></i>Zalo: 0328058573</p>
        </div>
        
        <form action="" method="POST" id="contact-form" class="col2">
            <label for="name">Tên:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="message">Góp ý:</label><br>
            <textarea id="message" name="message" rows="4" placeholder="Đóng góp ý kiến - nhận xét về dịch vụ, website,..." cols="50" required></textarea><br>

            <input type="submit" value="Gửi" class="submit-button">
        </form>
    </div>
  </div>
</div>