<div class="illustration-img-homepage"><span class="services-text">"VÌ MỘT MÔI TRƯỜNG SỐNG TRONG LÀNH CHO CỘNG ĐỒNG"</span></div>
<div class="main-content">
    <div class="homepage-overview content-section">
        <h1 class="content-header">Chào mừng đến với <span class="cpn-name">Công ty TNHH TM - KT Khải Vân</span></h1>
        <h2 class="content-slogan">Giải pháp tiên phong trong xử lý nước thải công nghiệp</h2>
        <div class="content-section-body">
            <p class="content-information col2 cpn-overview"><span class="cpn-name">KHẢI VÂN</span> là đơn vị hoạt động chuyên môn trong lĩnh vực về kĩ thuật môi trường và thương mại.
                <br>Tư vấn các công trình xử lý nước thải, nước cấp, khí thải, xử lý chất thải,... tự tin rằng có thể giúp doanh nghiệp biến môi trường thành một trong những ưu thế để sản xuất. Đồng thời, nâng cao giá trị của doanh nghiệp với cộng đồng và xã hội.
                <br>
                <a href="/about-us" class="button-redirect">Xem thêm <i class="fa-solid fa-arrow-right" style="color: #343434;"></i></a>
            </p>
            <img src="/homepage-cpnreview.jpg" alt="Ảnh minh họa" class="col2">
        </div>
    </div>
    <div class="vision content-section">
        <h2 class="content-header">TẦM NHÌN</h2>
        <div class="content-section-body homepage-row">
            <p class="content-information"><span class="cpn-name">KHẢI VÂN</span> định hướng phát triển thành một đơn vị dẫn đầu trong lĩnh vực xử lí nước thải là thương hiệu đầu tiên được Khách hàng tin tưởng, lựa chọn khi sử dụng các dịch vụ về xử lí kĩ thuật nước thải môi trường</p>
            <img src="/homepage-vision.jpg" alt="Ảnh minh họa">
        </div>
        
    </div>
    <div class="mission content-section">
        <h2 class="content-header">SỨ MỆNH</h2>
        <div class="content-section-body homepage-row">
            <p class="content-information">
                ➢ Đối với khách hàng: luôn đặt lợi ích và mong muốn của khách hàng lên hàng đầu, cam kết
                mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất
                <br><br>➢ Đối với đối tác: Xây dựng mối quan hệ tin cậy, uy tín, hợp tác cùng phát triển bền vững
                <br><br>➢ Đối với nhân viên: Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo để
                mỗi cá nhân có thể phát huy hết khả năng của mình
                <br><br>➢ Đối với cộng đồng: hướng đến sự phát triển bền vững gắn liền với lợi ích của cộng đồng.
                Chung tay xây dựng và nổ lực tham gia các hoạt động hướng đến mục tiêu: <span class="content-slogan">“Vì một môi trường sống trong lành cho cộng đồng”</span>
            </p>
            <img src="/homepage-mission.jpg" alt="Ảnh minh họa">
        </div>
        
    </div>
    <div class="homepage-services content-section">
        <h2 class="content-header">DỊCH VỤ</h2>
        <div class="service-icons">
            <a href="/services" class="services-homepage">
                <i class="fa-solid fa-comments" style="color: #00b7ee;"></i>
                <span>Tư vấn các giải pháp</span>
            </a>
            <a href="/services" class="services-homepage">
                <i class="fa-solid fa-cart-shopping" style="color: #00b7ee;"></i>
                <span>Cung cấp các sản phẩm xử lý nước thải, hạt nhựa PP-PE, chỉ may bao</span>
            </a>
        </div>
    </div>
</div>



