<div class="illustration-img-homepage"><span class="services-text">CẢM ƠN ĐÃ CHỌN CHÚNG TÔI</span></div>
<div class="main-content">
    <div class="homepage-overview content-section">
        <h1 class="content-header">Chào mừng đến với Công ty TNHH TM - KT Khải Vân</h1>
        <h2 class="content-slogan">Giải pháp tiên phong trong xử lý nước thải công nghiệp</h2>
        <div class="content-section-body">
            <p class="content-information">KHẢI VÂN là đơn vị hoạt động chuyên môn trong lĩnh vực về môi trường kĩ thuật, thương mại với các dịch vụ:
            Tư vấn các công trình xử lý nước thải, nước cấp, khí thải, xử lý chất thải,... tự tin rằng có thể giúp doanh nghiệp biến môi trường thành một trong những ưu thế để sản xuất. Đồng thời, nâng cao giá trị của doanh nghiệp với cộng đồng và xã hội.
            Trong thời gian qua, bằng sự chuyên nghiệp, KHẢI VÂN đã tạo dựng được một hệ thống khách hàng thân thiết trải dài từ TP HCM cho đến các tỉnh Miền tây. Công ty TNHH TM - KT Khải Vân đã, đang và sẽ không ngừng cung cấp những dịch vụ, công trình chất lượng cao nhằm mang đến sự hài lòng cao nhất cho quý khách hàng và đối tác. Với mong muốn phát triển và quảng bá thương hiệu KHẢI VÂN, tất cả công nhân viên Công ty cùng bắt tay nhau học tập, làm việc và luôn nổ lực để đáp ứng tốt nhất nhu cầu của khách hàng.
            Chúng tôi đang tìm kiếm và mong ước được kết nối thêm thật nhiều khách hàng, đối tác cùng đồng hành trên con đường kiến tạo môi trường an toàn cho cộng đồng
            </p>
        </div>
    </div>
    <div class="vision content-section">
        <h2 class="content-header">TẦM NHÌN</h2>
        <div class="content-section-body">
            <p class="content-information">KHẢI VÂN định hướng phát triển thành một đơn vị dẫn đầu trong lĩnh vực xử lí nước thải là thương hiệu đầu tiên được Khách hàng tin tưởng, lựa chọn khi sử dụng các dịch vụ về xử lí kĩ thuật nước thải môi trường</p>
        </div>
        
    </div>
    <div class="mission content-section">
        <h2 class="content-header">SỨ MỆNH</h2>
        <div class="content-section-body">
            <ul class="content-information">
                <li>Đối với khách hàng: luôn đặt lợi ích và mong muốn của khách hàng lên hàng đầu, cam kết mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất</li>
                <li>Đối với đối tác: Xây dựng mối quan hệ tin cậy, uy tín, hợp tác cùng phát triển bền vững</li>
                <li>Đối với nhân viên: Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo để mỗi cá nhân có thể phát huy hết khả năng của mình</li>
                <li>Đối với cộng đồng: hướng đến sự phát triển bền vững gắn liền với lợi ích của cộng đồng. Chung tay xây dựng và nổ lực tham gia các hoạt động hướng đến mục tiêu: “Vì một môi trường sống trong lành cho cộng đồng"</li>
            </ul>
        </div>
        
    </div>
    <div class="homepage-services content-section">
        <h2 class="content-header">DỊCH VỤ</h2>
        <div class="service-icons">
            <a href="/services" class="services-homepage">
                <i class="fa-solid fa-comments" style="color: #00b7ee;"></i>
                <span>Tư vấn các giải pháp</span>
            </a>
            <a href="/services" class="services-homepage">
                <i class="fa-solid fa-cart-shopping" style="color: #00b7ee;"></i>
                <span>Cung cấp các sản phẩm xử lý nước thải, hạt nhựa PP-PE, chỉ may bao</span>
            </a>
        </div>
    </div>
</div>



