<div class="illustration-img-products"><span class="services-text">CHI TIẾT SẢN PHẨM</span></div>
<div class="main-content">
    <div class="product-detail">
        <img src="/khaivan-logo.png" class="product-detail-img" alt="product image">
        <div class="product-detail-all">
            <h1 class="product-name">{{product.name}}</h1>
            <h2 class="product-using">Sử dụng: <br>{{{breakline product.using}}}</h2>
        </div>
    </div>
</div>
<script>
    document.title = 'Sản phẩm - Công ty TNHH TM - KT Khải Vân'
</script>