<div class="illustration-img-products"><span class="services-text">SẢN PHẨM</span></div>
<div class="main-content">
    <div class="show-products">
    {{#each products}}
        <div class="product-card">
            <a href="/products/{{this.slug}}">
                <img src="/khaivan-logo.png" class="card-img-top" alt="product image">
            </a>
            <h2 class="product-card-name">{{this.name}}</h2>
            <p class="product-card-description">{{{breakline this.using}}}</p>
            <a href="/products/{{this.slug}}" class="detail-button">Chi tiết sản phẩm</a>
        </div>
    {{/each}}
    </div>
</div>
