<div class="illustration-img-services"><span class="services-text">DỊCH VỤ</span></div>
<div class="main-content">
    <div class="content-section">
        <h1 class="content-header">TƯ VẤN</h1>
    
        <div class="content-section-body">
            <p class="content-information col2 cpn-overview">Tư vấn về các công trình xử lý nước thải, nước cấp, khí thải, chất thải,...
                <br><br>Với những kỹ sư chất lượng và tâm huyết chúng tôi hân hạnh được phục vụ quý khách hàng.
                <a href="/contacts" class="button-redirect">Liên hệ ngay <i class="fa-solid fa-arrow-right" style="color: #343434;"></i></a>
            </p>
            <img src="/services-advise.jpg" alt="Ảnh minh họa" class="col2 services-img">
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-header">CUNG CẤP CÁC SẢN PHẨM XỬ LÝ CHẤT THẢI</h1>
    
        <div class="content-section-body">
            <img src="/services-products.jpg" alt="Ảnh minh họa" class="col2 services-img">
            <p class="content-information col2 cpn-overview"><span class="cpn-name">Công ty TNHH TM - KT KHẢI VÂN</span> chuyên cung cấp cái loại hóa chất, thiết bị xử lý nước thải công nghiệp uy tín và chất lượng
                <br><br>Xem các sản phẩm của chúng tôi <a href="/products" class="cpn-name">TẠI ĐÂY</a>
                <a href="/contacts" class="button-redirect">Liên hệ ngay <i class="fa-solid fa-arrow-right" style="color: #343434;"></i></a>
            </p>
        </div>
    </div>
</div>
<script>
    document.title = 'Dịch vụ - Công ty TNHH TM - KT Khải Vân'
</script>